.figureCentered {
  @apply text-center;
}

.imageContainer {
  @apply w-56 h-56;
  perspective: 1500px;
  @apply mx-auto;
  img {
    @apply rounded-full;
    transform: rotate(0);
    transition: .3s;
  }

  &:hover img {
    transform: rotateX(15deg) rotateY(-18deg) rotateZ(3deg);
  }
}
