.blogTitle {
    border-collapse: collapse;
    border-spacing: 0;
    color: #333;
    @apply mb-16;
    @apply text-xl;
    line-height: 1.2em;
    border-bottom: 1px solid #eee;
    @apply mt-2;
    @apply pb-10;
}