@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

html,
body {
  @apply font-sans text-base leading-loose;
}

body {
  @apply bg-white p-2;
}

h1 {
  @apply text-4xl text-primary-800 font-extrabold text-center;
}
h2 {
  @apply text-3xl text-primary-600 font-extrabold text-left;
}

//a {
//  color: #0070f3;
//  text-decoration: none;
//}
//
//a:hover {
//  text-decoration: underline;
//}

@mixin link-hover {
  @apply border-b-2;
  @apply border-transparent;
  @apply pb-1;
  &:hover {
    @apply transition;
    @apply duration-500;
    @apply text-primary-600;
    @apply border-gray-600;
  }
}

a {
  @include link-hover;
}


code {
  color: rgb(51, 51, 51);
  display: inline-block;
  background-color: rgb(239, 244, 245);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0.3825rem;
  padding-right: 0.3825rem;
  border-radius: 3px;
}

img {
  @apply m-5;
}

ol, ul {
  @apply p-5;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, figure, p, pre {
  @apply m-3;
}

hr {
  @apply mt-10;
  @apply mb-10;
}
